html[data-theme="dark"] {
  --color-primary: #1a1818; /* Black background */
  --color-secondary: #ffffff;
  --color-buttons: #f3830b;
  --color-button-text: #ffffff;
  --color-typography: #ffffff;
  --button-hover: #000000;
  --typography-hover: #f39c12;
  --border-color: #c3c6c6;
  --header-color: #C0C2C9;
  --bgFooter-color: #2f2e2e;
}