/* Theme 7 */
html[data-theme="theme7"] {
    --color-primary: #191970; /* Midnight blue */
    --color-secondary: #C0C0C0; /* Frosty silver */
    --color-buttons: #87CEFA; /* Icy blue */
    --color-typography: #FFFFFF; /* Snow white */
    --button-hover: #fa5f5f; /* Glacier gray */
    --typography-hover: #008080; /* Polar teal */
    --border-color: #00BFFF; /* Frostbite blue */
}