html[data-theme="theme3"] {
    --color-primary: #013a63; 
    --color-secondary: #75cdd8; 
    --color-buttons: #ff7f50;
    --color-typography: #fdf7e3; 
    --button-hover: #3cb371; 
    --typography-hover: #ffd700; 
    --border-color: #008080; 
}