/* Ensure the main container is responsive */

  
  /* Style for the content area */
  .content {
    overflow-wrap: break-word; 
    word-break: break-word;
    max-width: 100%; 
    padding: 0px !important;
  }
  
  /* Responsive images */
  .content img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1rem auto; /* Center images within the content */
  }
  

  .content pre {
    white-space: pre-wrap; /* Wrap code blocks on small screens */
    word-wrap: break-word;
    max-width: 100%;
    overflow-x: auto; /* Allows horizontal scrolling for large code blocks */
  }
  